# No whitespace after the comma or in your part name!
config SHIELD_ZPLIT_ZALP_LEFT
    def_bool $(shields_list_contains,zplit_zalp_left)

# No whitespace after the comma or in your part name!
config SHIELD_ZPLIT_ZALP_RIGHT
    def_bool $(shields_list_contains,zplit_zalp_right)
